.page {
    flex-direction: row;
    justify-content: center;
    align-self: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    margin-bottom: 24px;
}

.page__title-container {
    margin-bottom: 24px;
    flex-direction: row;
    justify-content: space-between;
}

.page__pagination {
    color: var(--text-light-disabled);
}

.page__image-container {
    padding-top: 17px;
    padding-right: 25px;
    padding-bottom: 17px;
    padding-left: 25px;
}

.page__text-container {
    color: var(--text-light-primary);
    margin-left: 32px;
}

.page__buttons-container {
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-top: 0;
    align-items: center;
    width: 100%;
    height: 100px;
}

.page__button {
    width: 211px;
    padding-right: 0;
    margin-right: 12px;
    margin-left: 12px;
}
