.header {
    background-color: var(--color-surface);
    border-radius: var(--border-radius-large);
    padding: 24px;
}

.header__title {
    -unity-text-align: upper-center;
    margin-bottom: 24px;
}

.header__text {
    white-space: pre-wrap;
}
