.modal {
    background-color: var(--color-surface);
    border-radius: var(--border-radius-large);
    padding: 24px;
}

.modal__header-text {
    -unity-text-align: upper-center;
    -unity-font-style: bold;
    margin-bottom: 12px;
}

.modal__button {
    height: 48px;
}

.modal__horizontal-group {
    flex-direction: row;
}
