.button-custom {
    -unity-font-definition: var(--font-bold);
    -unity-text-align: middle-center;
    font-size: 24px;
    letter-spacing: 1px;
}

.button-custom.button-base {
    color: var(--text-dark-primary);
    background-color: var(--primary-blue);
    border-radius: var(--border-radius);
    height: 62px;
    border-width: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-custom.button-base--hover:hover {
    background-color: var(--primary-blue-highlight-strong);
}

.button-custom.button-base--active:active {
    background-color: var(--primary-blue-highlight-less);
}

.button-custom.button-base--disabled:disabled {
    color: var(--text-dark-disabled);
}
