.slider-base {
    width: 100%;
    height: 100%;
}

.slider-base Slider {
    width: 100%;
    height: 100%;
    margin: 0;
}

.slider-base Slider #unity-drag-container .unity-base-slider__fill {
    min-width: 10px;
}

.slider-base Slider #unity-drag-container:hover .unity-base-slider__fill {
    background-color: var(--color-primary-variant);
}

.slider-base Slider #unity-drag-container:active .unity-base-slider__fill {
    background-color: var(--color-secondary);
}

.slider-base Slider .unity-base-slider__dragger {
    visibility: hidden;
}

.slider-base Slider .unity-base-slider__fill {
    background-color: var(--color-primary);
    border-radius: var(--border-radius-medium);
}

.slider-base Slider .unity-base-slider__tracker {
    min-height: 100%;
    position: absolute;
    top: 3px;
    background-color: var(--color-surface);
    border-radius: var(--border-radius-medium);
    border-width: 0;
}
